* {
margin: 0;
padding: 0;
border: border-box;
}

body {
  padding: 1%;
  margin: 1%;
}

.main-content {
  height: 90vh;
  border: 2px green solid;
  display: flex; 
  flex-direction: column;
  align-content: center;
  background-image: url(/assets/harry-potter-background.gif);
  background-repeat: no-repeat;
  background-size: cover; 
  /* display: none; */
}

#welcome {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
}

.snake {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.queen {
  background-image: url(/assets/QUEEN.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.worker {
  background-image: url(/assets/worker.gif);
  background-repeat: no-repeat;
  background-size: contain;
  
}

.drone {
  background-image: url(/assets/drone.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.points {
  color: white;
}

div {
  width: 100px; 
  height: 200px; 
  margin: 2%;
  color: white;
}

